body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
}
h1{
    text-align:center;
    margin-bottom: 20px;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
textarea{
    width: 200px;
    height: 100px;
    padding: 15px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin: 10px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightcoral;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.tabla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.nota {
  background: rgb(216, 231, 2);
  padding: 20px;
  border: 1px solid #333;
}